.button 
  display: block
  width: 100%
  padding: 19px 40px
  font-size: 14px 
  line-height: 1.2
  color: #fff
  border: 1px solid #fff
  text-transform: uppercase
  text-align: center
  transition: .3s
  &:hover 
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .5)
    transform: scale(1.05)

.button--fill-white 
  color: #000
  background-color: #fff 

.button--fill-black 
  color: #fff
  background-color: #000 
  border-color: transparent

.button--black 
  color: #000
  border-color: #000

.button__wishlist
  display: inline-block
  position: relative
  &::after 
    position: absolute
    top: -2px
    right: -30px
    content: ''
    width: 22px
    height: 22px 
  &--add 
    &::after
      background: url('../img/cart/hart.svg') no-repeat center
  &--added 
    &::after
      background: url('../img/cart/hart-fill.svg') no-repeat center

  
