.slider-arrows
  display: flex
  justify-content: space-between
  width: 110px

.slider-arrows
  font-size: 14px
  font-weight: 500
  text-transform: uppercase

.slider-arrows__prev,
.slider-arrows__next
  cursor: pointer
