.view 
  position: relative
  display: block
  padding: 62px 37px
  width: 250px
  height: 250px
  border: 1px solid #fff
  border-radius: 50%    
  transition: .3s
  &::after 
    content: ''
    position: absolute
    bottom: 50px
    left: -50px
    width: 356px
    height: 85px
    background: url('../img/view-black.svg') no-repeat center
    background-size: contain
  +media-sm 
    width: 150px
    height: 150px
    padding: 30px 20px
    &::after 
      bottom: 5px
      left: -22px
      width: 190px
.view:hover 
  transform: scale(1.05)

.view__text 
  position: relative
  display: block
  width: 175px
  font-size: 20px
  line-height: 1.2
  letter-spacing: 0.25em
  font-weight: 500
  color: #fff
  &::before
    content: ""
    position: absolute 
    top: 29px
    right: -4px
    width: 30px 
    height: 18px
    background: url('../img/Line.svg') no-repeat center
    background-size: contain
  +media-sm 
    width: auto
    font-size: 15px
    &::before
      top: 0px
      right: 27px

.view.view--princess 
  border-color: #000
  &::after 
    width: 253px
    left: -9px
    background: url('../img/view-princess.svg') no-repeat center
    background-size: contain
  +media-sm 
    &::after 
      width: 150px
      left: -4px
  .view__text 
    color: #000
    &::before
      background: url('../img/Line-black.svg') no-repeat center
