.header 
  position: relative
  z-index: 100
  padding: 10px 0
  background-color: #fff
  &::after 
    content: ''
    position: absolute
    z-index: 20
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: #fff
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  +media-sm
    position: fixed
    z-index: 20
    top: 0
    left: 0
    right: 0


.header__row-wrap
  position: relative
  z-index: 30

.header__nav-btn
  display: none
  +media-sm 
    display: block
    order: -1

.header__row 
  position: relative
  display: flex
  justify-content: space-between
  align-items: center

.header__logo
  width: 126px
  height: 63px
  +media-sm 
    width: 55px
    height: auto
    margin-left: -130px
    img 
      width: 100%
  +media-374 
    margin-left: -85px

.header__nav 
  width: 590px
  margin-left: 12px
  +media-lg 
    margin-left: 0px
  +media-md 
    margin-left: 20px 
    margin-right: 20px
  +media-sm
    display: none
    position: absolute
    z-index: 10
    top: 48px
    left: 0
    right: 0
    width: auto
    background-color: #fff
    margin: 0 -15px

.header__nav-list 
  // position: relative
  padding: 0
  margin: 0
  list-style: none
  display: flex
  justify-content: space-between
  a 
    position: relative
    display: block
    color: #000
    font-family: $font-sans
    text-transform: uppercase
    font-size: 14px 
    line-height: 1.2
    cursor: pointer
  a::after 
    position: absolute
    width: 0%
    left: 0
    bottom: -3px
    content: ''
    height: 0.5px
    background-color: #000
    transition: .3s
  a.active 
    font-weight: 500
  a:hover::after 
    width: 100%
  +media-md 
    a
      font-size: 13px
  +media-sm
    flex-direction: column 
    align-items: center
    li 
      width: 100%
      text-align: center
      border-bottom: 1px solid rgba(0, 0, 0, .3)
    a
      display: inline-block
      font-size: 15px
      padding: 15px 0

  
  
  

.header__user-block
  display: flex
  justify-content: space-between
  width: 130px
  margin-right: 7px
  +media-1920
    margin-right: 0px
  +media-sm 
    width: 95px
    a 
      transform: scale(0.8)

.header__bag
  position: relative
.header__bag-quantity 
  display: block
  text-align: center
  position: absolute
  bottom: 0
  right: -4px
  width: 14px
  height: 14px
  padding-top: 1px
  border-radius: 50%
  background-color: #000000
  color: #fff
  font-size: 10px
  line-height: 12px
  font-weight: 500


.header__search 
  opacity: 0
  transition: .2s
.header__search.active 
  opacity: 1
  cursor: pointer


// ------------------- header__search-block ------------------------------

.header__search-block
  display: none
  position: absolute
  z-index: 10
  background-color: #fff
  top: 0
  left: 0
  right: 0
  width: auto
  padding-top: 158px
  padding-bottom: 20px
  +media-sm 
    padding-top: 60px

.header__search-form 
  position: relative

.header__search-text 
  display: block
  width: 100%
  padding: 20px 20px 20px 50px
  border: none
  outline: none
  border-bottom: 1px solid #000
  font-size: 24px
  &::placeholder
    opacity: .3
  +media-sm 
    font-size: 20px
  
.header__search-submit
  position: absolute
  top: 20px
  left: 0
  width: 25px
  height: 25px
  border: none 
  outline: none
  background: url('../img/icon-search-open.svg') no-repeat center
  cursor: pointer

.header__search-close
  position: absolute
  top: 20px
  right: 0
  width: 22px
  height: 22px
  border: none 
  outline: none
  background: transparent
  cursor: pointer
  &::before, 
  &::after 
    position: absolute
    content: ''
    top: 50%
    left: 0
    right: 0
    transform: translate(0, -50%)
    height: 1px
    background-color: #000
  &::before 
    transform: translate(0, -50%) rotate(45deg)
  &::after 
    transform: translate(0, -50%) rotate(-45deg)
    
// ------------------  header--cart-header ----------------------

.header--cart-header 
  +media-md
    .header__row
      justify-content: center
    .header__logo 
      width: auto

// ------------------  header-submenu ----------------------

.header-submenu
  position: absolute
  display: flex
  display: none
  justify-content: space-between
  top: 72px
  left: 420px
  padding: 35px 65px
  width: 990px
  height: 370px
  background: #F8F8F8
  box-shadow: 0px 8px 55px rgba(0, 0, 0, 0.25)
  +media-1920 
    left: 105px
  +media-lg 
    left: 0
    width: 100%
  +media-md 
    height: auto
    padding: 30px 40px 
  +media-sm 
    padding: 15px
    position: static
.header-submenu.active 
  display: flex !important 

.header-submenu__right
  width: 55%
  display: flex
  margin: 0 -17px
  +media-sm 
    display: none

.header-submenu__img
  position: relative
  width: 50%
  padding: 0 17px
  overflow: hidden
  img 
    width: 100%
    transition: .3s
  &:hover
    img 
      transform: scale(1.05)

.header-submenu__img-text
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.header-submenu__img-number
  display: block
  font-size: 12px
  text-transform: uppercase

.header-submenu__img-title
  font-size: 20px
  font-weight: 700 
  font-family: $font-serif
  text-transform: uppercase




.header-submenu__left
  width: 45%
  display: flex
  padding-top: 37px
  +media-md
    padding-top: 0
  +media-sm 
    justify-content: space-between
    width: 100%

.header-submenu__list-wrap
  width: 45%
  +media-md 
    width: 47%

.header-submenu__list-litle 
  font-size: 20px
  font-weight: 700 
  font-family: $font-serif
  text-transform: uppercase
  margin-bottom: 30px
  +media-sm
    margin-bottom: 0px

.header-submenu__list
  margin: 0
  padding: 0
  list-style: none 
  li 
    margin-bottom: 20px 
  a 
    font-size: 14px
    text-transform: uppercase
  +media-sm
    li
      margin-bottom: 10px