.cart-4-container
  padding-bottom: 150px
  +media-md 
    padding-bottom: 120px
  
.cart-4__title
  margin-top: 50px
  margin-bottom: 50px
  font-size: 35px 
  text-transform: uppercase
  font-family: $font-serif 
  font-weight: 600
  text-align: center
  +media-sm 
    font-size: 30px 
    margin-top: 150px